
venv/

src/hdx_scraper_climada.egg-info/

src/hdx_scraper_climada/output/

bin/

*.pbix

src/hdx_scraper_climada/admin1_geometry/

.coverage

docs/2024-01-11-data-type-review.xlsx

tests/temp/

src/hdx_scraper_climada/metadata/2024-01-11-data-type-metadata.csv

src/hdx_scraper_climada/temp.csv

cov.xml

*.xlsx

src/hdx_scraper_climada/analysis/admin1-timeseries-summaries.csv

src/hdx_scraper_climada/analysis/admin1-timeseries-summaries-earthquake.csv
